@CHARSET "UTF-8";
/*reset*/
*{margin: 0; padding: 0; outline: none;}
body {}
header{display: block; margin: 0px; padding: 0px;}
.clear {clear: both; width: 0px; height: 0px; overflow: hidden; line-height: 0px;}

/*MAIN*/
header {width: 100%; background: #FFF; }

@font-face {
  font-family: 'PF Din';
  font-style: normal;
src: url(/fonts/PFDinTextCompPro-Regular.ttf);}

@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  src: local('PT Sans Bold'), local('PTSans-Bold'), url(http://themes.googleusercontent.com/static/fonts/ptsans/v6/kTYfCWJhlldPf5LnG4ZnHL3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

/*.content{width: 830px; margin: 0 auto; border: solid 1px blue; }*/
.content{width: 830px; margin: 0 auto;}

.logotype{float: left; margin: 30px 153px 30px 24px; display: block; width: 296px; height: 75px;}
header ul{float: left; margin-top: 64px; display: block; width: 340px; height: 22px; font-family: PF Din, Arial, sans-serif; font-size: 22px; letter-spacing: 2px;}
header ul li{float: left; list-style: none; margin-right: 28px; height: 22px;}
header ul li a{text-transform: uppercase; color: #000; text-decoration: none;}
header ul li.active a, header ul li:hover a{color: red;}
header ul li.active:after{content: url(/images/menu-select.png); position: absolute; margin: 70px 0 0 -31px;}
header ul li.end{margin-right: 0px;}
.page1{width: 100%; background: url(/images/up-bg.jpg); text-align: center; background-size: 100% 100%;}
.page1 span{display: inline-block; color: white; }
.page1 .red1{background: #d42f2f; font-size: 58px; font-weight: bold; padding: 0 20px; margin-top: 273px; font-family: PT Sans, Arial;}
.page1 .red2{background: #d42f2f; font-size: 58px; font-weight: bold; padding: 0 28px; margin-bottom: 160px; font-family: PT Sans, Arial;}
.page1 .black{background: black; padding: 8px; margin-bottom: 60px; font-family: Arial; font-size: 21px;}
.page1 img{margin-bottom: 60px;}
.page2{background: url(/images/rub-bg.jpg); text-align: center;} 
.page2 img{margin-top: 95px; margin-bottom: 10px;}
.page2 .big-text{font-family: PT Sans, Arial; font-size: 45px; font-weight: bold; color: #fff; display: block; margin-bottom: 30px;}
.page2 .smoll-text{font-family: Arial; font-size: 16px; color: #fff; display: block; padding-bottom: 60px;}